<manifest package="com.skedgo.android.tripkit"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <!-- This will be merged into the Manifest of projects depending on this library. -->
    <service
      android:name="skedgo.tripkit.android.FetchRegionsService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
      </intent-filter>
    </service>
  </application>
</manifest>